body{
  background: #dbdada;
  font-family: Sans-Serif;
  text-align: center;
  height: 100vh;
}

div{
  background: white;
  justify-content: center;
  border: 2px solid black;
  padding: 20px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

h1{
  text-transform: uppercase;
  text-decoration: underline;
  color: #25a0ed;
}

h3{
  text-transform: uppercase;
  text-decoration: underline;
}

a{
  border: 1px solid black;
  padding: 5px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}