body{
  background: #dbdada;
  font-family: Sans-Serif;
}

.top{
  text-align: center;
  text-decoration: underline;
}

div{
  background: white;
  width: 360px;
  padding: 20px;
  margin: 100px auto;
  border-radius: 10px;
}

label{
  display: block;
  margin: 10px;
  cursor: pointer;
}

button{
  width: 100%;
  background: black;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}

button:hover{
  background: white;
  color: black;
}

a{
  border: 1px solid black;
  background: black;
  color: white;
  text-align: right;
  padding: 5px;
  text-decoration: none;
}